.jobwork-popup {
    width: 95%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    float: left;
}

.jobwork_label {
    font-size: 24px;
}

.jobwork_input {
    font-size: 20px;
}

input[type="checkbox"].input_checkbox {
    width: 20px;
    height: 20px;
}

.input_checkbox_div {
    font-size: 20px;
}